dnspython==2.1.0
fastapi
pydantic
pymongo==3.11.4
requests==2.25.1
starlette
typing-extensions==3.10.0.0
uvicorn==0.14.0
pyjwt==2.1.0
numpy==1.20.2
pandas==1.2.4
tqdm
databases[postgresql]
SQLAlchemy==1.4.19
alembic
psycopg2
mangum==0.11.0